<div class="container justify-content-center shadow-sm">
<div class="text-center rounded bg-dark m-auto p-2 text-white">
  <h1 class="lead">Select the departure or destination tab before entering the airport name below</h1>
  <fa-icon [icon]="faArrowCircleDown"></fa-icon>
</div>
<br />
<div class="text-center mb-1">
  <div class="btn-group" role="group" aria-label="Button group">
    <button type="button" class="btn btn-secondary" [class.active]="departure" (click)="selectDeparture()">Departure</button>
    <button type="button" class="btn btn-secondary" [class.active]="destination" (click)="selectDestination()">Destination</button>
  </div>
</div>
<div>
  <input *ngIf="departure" type="text" class="form-control text-center" (keyup)="searchDepTerm.next($event)" placeholder="Enter airport name">
  <input *ngIf="destination" type="text" class="form-control text-center" (keyup)="searchDesTerm.next($event)" placeholder="Enter airport name">
  <div *ngIf="loading" class="d-flex justify-content-center mt-2">
    <div class="spinner-border" role="status">
      <span class="sr-only">Searching...</span>
    </div>
  </div>
</div>
<br />
<div *ngIf="noMatches">
  <h3 class="text-center">No Matches</h3>
</div>
<div class="table-responsive">
<table *ngIf="searchResults" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Departure Airport</th>
      <th scope="col">Destination</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Arrival Date</th>
      <th scope="col">Flight Number</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let result of searchResults">
    <tr>
      <td>{{ result.departureAirport.name }}</td>
      <td>{{ result.destination.name }}</td>
      <td>{{ result.departureDate }}</td>
      <td>{{ result.arrivalDate }}</td>
      <td>{{ result.flightNumber }}</td>
      <td><button (click)="selectFlight(result)" class="btn btn-raised btn-primary m-1" type="button">Book Ticket</button></td>
    </tr>
  </tbody>
</table>
</div>

</div>
