<div class="container m-auto p-2" style="border-top: solid; border-width: 1px; border-color: #007bff">
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <h5>Help</h5>
      <hr />
      <p>Contact Utopia</p>
      <p>Receipts and refunds</p>
      <p>FAQs</p>
      <p>Agency reference</p>
      <p>Cargo</p>
      <p>Bag and optional fees</p>
      <p>Customer service and contigency plans</p>
      <p>Conditions of carriage</p>
    </div>
    <div class="col-sm">
      <h5>About Utopia</h5>
      <hr />
      <p>About Us</p>
      <p>Careers</p>
      <p>Investor relationship</p>
      <p>Newsroom</p>
      <p>Legal, privacy, copyright</p>
      <p>Browser compatibility</p>
      <p>Web Accessibility</p>
    </div>
    <div class="col-sm">
      <h5>Extras</h5>
      <hr />
      <p>Business programs</p>
      <p>Gift cards</p>
      <p>American Airlines credit card</p>
      <p>Trip insurance</p>
      <p>CoBrowse</p>
    </div>
  </div>
</div>

</div>
