  <hr />
<div [hidden]="initialForm">
  <form #bookingForm="ngForm" novalidate>
    <!-- Ratio Button -->
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio"  value="option1">
      <label class="form-check-label" for="inlineRadio1">Round trip</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio"  value="option2">
      <label class="form-check-label" for="inlineRadio2">One way</label>
    </div>
    <!-- Ratio Button End -->
    <!-- From/To -->
    <h5><b>Departure airport</b></h5>
    <div class="input-group mb-3">
      <input class="form-control" name="departureAP" [(ngModel)]="bookingForm.departureAP" [placeholder]="getPlaceholder1()" aria-label="from airport">
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-primary" (click)="openFrom(contentFrom)"><fa-icon [icon]="faSearch"></fa-icon></button>
        </div>
    </div>
    <!-- Datepicker -->
    <app-ngbd-datepicker-popup #departureDate></app-ngbd-datepicker-popup>
    <!-- Datepicker End -->
    <h5><b>Arrival airport</b></h5>
    <div class="input-group mb-3">
      <input class="form-control" type="text" name="arrivalAP" [(ngModel)]="bookingForm.arrivalAP" [placeholder]="getPlaceholder2()" aria-label="to airport">
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-primary" (click)="openTo(contentTo)"><fa-icon [icon]="faSearch"></fa-icon></button>
        </div>
    </div>
    <!-- Datepicker -->
    <app-ngbd-datepicker-popup #arrivalDate></app-ngbd-datepicker-popup>
    <!-- Datepicker End -->
    <!-- From/To End -->
    <!-- Num Passengers -->
    <select class="custom-select mt-2">
      <option selected>Number of passengers</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
    <!-- Num Passengers End -->
  </form>
  <button class="btn btn-block btn-outline-primary mt-3" type="button" (click)="onSubmit()">Search</button>
  <hr />
</div>
<!-- Modal One -->
<ng-template #contentFrom  let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button text-dark text-right" class="close" aria-label="Close" (click)="d('Cross click')">X</button>
  </div>
  <div class="p-4">
    <div class="container">
    <h3>Airport lookup</h3>
    <h5>Please tell us where the airport is located</h5>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownthree" ngbDropdownToggle>Country / Region</button>
          <div ngbDropdownMenu aria-labelledby="dropdownOne">
            <div *ngFor="let region of regions">
              <button (click)="selectRegion(region)" ngbDropdownItem>{{ region }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>{{ regionSelect }}</div>
    <hr />
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownfour" ngbDropdownToggle>State</button>
            <div ngbDropdownMenu aria-labelledby="dropdownTwo">
              <div *ngFor="let state of states">
                <button (click)="selectState(state)" ngbDropdownItem>{{ state }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>{{ stateSelect }}</div>
    <hr />
    <div class="table-responsive">
    <table *ngIf="showTable" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">City</th>
          <th scope="col">Airport</th>
          <th scope="col">Airport code</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let airport of temp">
        <tr>
          <td>{{ airport.city }}</td>
          <td>{{ airport.name }}</td>
          <td>{{ airport.code }}</td>
          <td><button (click)="selectFromAirport(airport)" class="btn btn-raised btn-primary m-1" type="button">Select</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
</ng-template>
<!-- Modal One End -->
<!-- ModalTwo -->
<ng-template #contentTo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button text-dark text-right" class="close" aria-label="Close" (click)="d('Cross click')">X</button>
  </div>
  <div class="p-4">
    <div class="container">
    <h3>Airport lookup</h3>
    <h5>Please tell us where the airport is located</h5>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownthree" ngbDropdownToggle>Country / Region</button>
          <div ngbDropdownMenu aria-labelledby="dropdownOne">
            <div *ngFor="let region of regions">
              <button (click)="selectRegion(region)" ngbDropdownItem>{{ region }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>{{ regionSelect }}</div>
    <hr />
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownfour" ngbDropdownToggle>State</button>
            <div ngbDropdownMenu aria-labelledby="dropdownTwo">
              <div *ngFor="let state of states">
                <button (click)="selectState(state)" ngbDropdownItem>{{ state }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>{{ stateSelect }}</div>
    <hr />
    <div class="table-responsive">
    <table *ngIf="showTable" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">City</th>
          <th scope="col">Airport</th>
          <th scope="col">Airport code</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let airport of temp">
        <tr>
          <td>{{ airport.city }}</td>
          <td>{{ airport.name }}</td>
          <td>{{ airport.code }}</td>
          <td><button (click)="selectToAirport(airport)" class="btn btn-raised btn-primary m-1" type="button">Select</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
</ng-template>
<!-- Modal Two End -->
<!-- Ticket Table -->
<div *ngIf="showBooking">
  <h2 class="text-center"><b>Search result</b></h2>
  <hr />
  <div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Airport</th>
        <th scope="col">Row</th>
        <th scope="col">Seat</th>
        <th scope="col">Seat class</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let ticket of ticketResult">
      <tr>
        <td>{{ ticket.flight.departureAirport.name }}</td>
        <td>{{ ticket.row }}</td>
        <td>{{ ticket.seat }}</td>
        <td>{{ ticket.seatClass }}</td>
        <td><button (click)="selectTicket(ticket)" class="btn btn-raised btn-primary m-1" type="button">Select</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<!-- Ticket Table End -->
<!-- User Info -->
<div *ngIf="showUserInfo">
  <h2 class="text-center"><b>Enter user information before booking</b></h2>
  <form [formGroup]="userForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" formControlName="username"  aria-describedby="enter username" placeholder="Enter username" required>
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password"  aria-describedby="enter password" placeholder="Password" required>
    </div>
    <button type="button" class="btn btn-primary btn-block" [disabled]="!userForm.valid" (click)="onSearchUser()">Enter</button>
  </form>

  <div *ngIf="findUser">
      <br />
    <h5 class="text-center rounded bg-danger text-white p-5">Could not find user. Please try again</h5>
  </div>
</div>
<!-- User Info End -->
<div *ngIf="bookingCard" class="card text-center" style="margin: auto">
  <div class="card-body">
    <h5 class="card-title"><b>Confirm Booking</b></h5>
    <hr />
    <p class="card-text"><b>Username:</b> {{ activeUser.username }}</p>
    <p class="card-text"><b>Email:</b> {{ activeUser.email }}</p>
    <p class="card-text"><b>Flight id:</b> {{ selectedTicket.flight.id }}</p>
    <p class="card-text"><b>Row:</b> {{ selectedTicket.row }}</p>
    <p class="card-text"><b>Seat:</b> {{ selectedTicket.seat }}</p>
    <p class="card-text"><b>Class:</b> {{ selectedTicket.seatClass }}</p>
    <button type="button" class="btn btn-primary btn-block" (click)="onBookFlight()">Booking Flight</button>
  </div>
</div>
<div *ngIf="successfullReservation">
    <br />
  <h5 class="text-center rounded bg-success text-white p-5">This Flight has been successfully reserved!</h5>
  <button type="button" class="btn btn-primary btn-block" (click)="restartBooking()">Reserve another flight</button>
</div>
<div *ngIf="unsuccessfullReservation">
    <br />
  <h5 class="text-center rounded bg-danger text-white p-5">Oops! Something went wrong. Please try again.</h5>
  <button type="button" class="btn btn-primary btn-block" (click)="restartBooking()">Restart booking form</button>
</div>
