<hr />
<form #bookingForm="ngForm">
<!-- Ratio Button -->
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio"  value="option1">
  <label class="form-check-label" for="inlineRadio1">Round trip</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio"  value="option2">
  <label class="form-check-label" for="inlineRadio2">One way</label>
</div>
<!-- Ratio Button -->
<!-- From/To -->
<h5><b>Departure airport</b></h5>
  <div class="input-group mb-3">
    <input class="form-control" type="text" name="departureAP" [(ngModel)]="bookingForm.departureAP"  aria-label="from airport">
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-primary" (click)="openFrom(contentFrom)"><fa-icon [icon]="faSearch"></fa-icon></button>
      </div>
  </div>
  <!-- Datepicker -->
  <app-ngbd-datepicker-popup (valuePassed)='assignValue($event)'></app-ngbd-datepicker-popup>


  <!-- <div class="form-group">
    <div class="input-group mb-3">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date1" name="departureAPDate"  ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
        </div>
    </div>
  </div> -->

  <!-- Datepicker -->
<h5><b>Arrival airport</b></h5>
  <div class="input-group mb-3">
    <input class="form-control" type="text" name="arrivalAP" [(ngModel)]="bookingForm.arrivalAP"  aria-label="to airport">
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-primary" (click)="openTo(contentTo)"><fa-icon [icon]="faSearch"></fa-icon></button>
      </div>
  </div>
  <!-- Datepicker -->

  <!-- <app-ngbd-datepicker-popup #arrivalDate></app-ngbd-datepicker-popup> -->

  <!-- <div class="form-group">
    <div class="input-group mb-3">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date2" name="arrivalAPDate" ngbDatepicker #t="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="t.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
        </div>
    </div>
  </div> -->




  <!-- Datepicker -->
<!-- From/To -->
<!-- Num Passengers -->
<select class="custom-select mt-2">
  <option selected>Number of passengers</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>
  <button class="btn btn-block btn-outline-primary mt-3" type="button" (click)="onSubmit()">Search</button>
<!-- Modal1 -->
<ng-template #contentFrom  let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button text-dark text-right" class="close" aria-label="Close" (click)="d('Cross click')">X</button>
  </div>
  <div class="p-4">
    <div class="container">
    <h3>Airport lookup</h3>
    <h5>Please tell us where the airport is located</h5>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownOne" ngbDropdownToggle>Country / Region</button>
          <div ngbDropdownMenu aria-labelledby="dropdownOne">
            <div *ngFor="let region of regions">
              <button (click)="selectRegion(region)" ngbDropdownItem>{{ region }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>{{ regionSelect }}</div>
    <hr />
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownTwo" ngbDropdownToggle>State</button>
            <div ngbDropdownMenu aria-labelledby="dropdownTwo">
              <div *ngFor="let state of states">
                <button (click)="selectState(state)" ngbDropdownItem>{{ state }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>{{ stateSelect }}</div>
    <hr />
    <div class="table-responsive">
    <table *ngIf="showTable" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">City</th>
          <th scope="col">Airport</th>
          <th scope="col">Airport code</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let airport of temp">
        <tr>
          <td>{{ airport.city }}</td>
          <td>{{ airport.name }}</td>
          <td>{{ airport.code }}</td>
          <td><button (click)="selectFromAirport(airport)" class="btn btn-raised btn-primary m-1" type="button">Select</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
</ng-template>
<!-- Modal1 -->
<!-- Modal2 -->
<ng-template #contentTo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button text-dark text-right" class="close" aria-label="Close" (click)="d('Cross click')">X</button>
  </div>
  <div class="p-4">
    <div class="container">
    <h3>Airport lookup</h3>
    <h5>Please tell us where the airport is located</h5>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownthree" ngbDropdownToggle>Country / Region</button>
          <div ngbDropdownMenu aria-labelledby="dropdownOne">
            <div *ngFor="let region of regions">
              <button (click)="selectRegion(region)" ngbDropdownItem>{{ region }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>{{ regionSelect }}</div>
    <hr />
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownfour" ngbDropdownToggle>State</button>
            <div ngbDropdownMenu aria-labelledby="dropdownTwo">
              <div *ngFor="let state of states">
                <button (click)="selectState(state)" ngbDropdownItem>{{ state }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>{{ stateSelect }}</div>
    <hr />
    <div class="table-responsive">
    <table *ngIf="showTable" class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">City</th>
          <th scope="col">Airport</th>
          <th scope="col">Airport code</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let airport of temp">
        <tr>
          <td>{{ airport.city }}</td>
          <td>{{ airport.name }}</td>
          <td>{{ airport.code }}</td>
          <td><button (click)="selectToAirport(airport)" class="btn btn-raised btn-info m-1" type="button">Select</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
</ng-template>
<!-- Modal2 -->
</form>
<hr />
