<div class="container p-5 shadow bg-white" style="margin-top: -100px; z-index: 7; position: relative;">
<ngb-tabset [justify]="currentJustify" type="tabs">
  <!-- Booking -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>Book or Cancel Flight</b></ng-template>
    <ng-template ngbTabContent>
      <div class="p-5">
      <ngb-tabset [justify]="currentJustify" type="pills">
        <!-- Book flight tab -->
        <ngb-tab>
          <ng-template ngbTabTitle><b>Book flight</b></ng-template>
          <ng-template ngbTabContent>
            <div class="container m-auto">
              <div class="row mt-4" style="place-content: end center">
              <div class="col-sm-7">
                <app-bookingform></app-bookingform>
              </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- Book flight tab -->
        <!-- Vacation tab -->
        <ngb-tab>
          <ng-template ngbTabTitle><b>Cancel booking</b></ng-template>
          <ng-template ngbTabContent>
            <div class="container m-auto">
              <div class="row mt-4" style="place-content: end center">
              <div class="col-sm-7">
                <app-cancelbooking></app-cancelbooking>
              </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <!-- Vacation tab -->
        <!-- Hotel tab -->
        <ngb-tab>
          <ng-template ngbTabTitle><b>Vacation packages</b></ng-template>
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
        <!-- Hotel tab -->
      </ngb-tabset>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- Booking -->
  <!-- Search Flights -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>Search Flight</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container m-auto">
        <div class="row mt-4" style="place-content: end center">
        <div class="col-sm-7">
          <app-searchflightform></app-searchflightform>
        </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- Search Flights -->
  <!-- User Login -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>User Login</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container m-auto">
        <div class="row mt-4" style="place-content: end center">
        <div class="col-sm-7">
          <app-logincard></app-logincard>
        </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- User Login -->
</ngb-tabset>
</div>
<br />
<br />
