<div class="container p-5 shadow bg-white" style="margin-top: -100px; z-index: 7; position: relative;">
<ngb-tabset [justify]="currentJustify" type="tabs">
  <ngb-tab>
    <ng-template ngbTabTitle><b>Book Flight</b></ng-template>
    <ng-template ngbTabContent>
      <!-- -->
      <div class="p-5">
      <ngb-tabset [justify]="currentJustify" type="pills">
        <ngb-tab>
          <ng-template ngbTabTitle><b>Flight</b></ng-template>
          <ng-template ngbTabContent>
            <div class="container m-auto">
              <div class="row mt-4" style="place-content: end center">
              <div class="col-sm-7">
                <app-bookingform></app-bookingform>
              </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Vacation packages</b></ng-template>
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Hotel</b></ng-template>
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      </div>
    <!-- -->

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Search Flights</b></ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>User Login</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container m-auto">
        <div class="row mt-4" style="place-content: end center">
        <div class="col-sm-7">
          <app-logincard></app-logincard>
        </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>
<br />
<br />
