<div class="container">
<h3>Airport lookup</h3>
<h5>Please tell us where the airport is located</h5>
<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownOne" ngbDropdownToggle>Country / Region</button>
      <div ngbDropdownMenu aria-labelledby="dropdownOne">
        <div *ngFor="let region of regions">
          <button (click)="selectRegion(region)" ngbDropdownItem>{{ region }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>{{ regionSelect }}</div>
<hr />
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownTwo" ngbDropdownToggle>State</button>
        <div ngbDropdownMenu aria-labelledby="dropdownTwo">
          <div *ngFor="let state of states">
            <button (click)="selectState(state)" ngbDropdownItem>{{ state }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>{{ stateSelect }}</div>
<hr />
<div class="table-responsive">
<table *ngIf="showTable" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">City</th>
      <th scope="col">Airport</th>
      <th scope="col">Airport code</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let airport of temp">
    <tr>
      <td>{{ airport.city }}</td>
      <td>{{ airport.name }}</td>
      <td>{{ airport.code }}</td>
      <td><button (click)="c('pickAirport(airport)')" class="btn btn-raised btn-info m-1" type="button">Select</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>
