<div class="container">

<h3>Airport lookup</h3>
<h5>Please tell us where the airport is located</h5>
<select class="custom-select p-2">
  <p>Country/Region</p>
  <option selected>Select a country/region</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<hr />
<select class="custom-select p-2">
  <p>State</p>
  <option selected>Select a state</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<hr />
<div class="table-responsive">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">City</th>
      <th scope="col">Airport</th>
      <th scope="col">Airport code</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Los Angeles</th>
      <td>Los Angeles International</td>
      <td>LAX</td>
    </tr>
  </tbody>
</table>
</div>
</div>
